
body { 
    /*background-repeat: repeat-x;*/
    background-color: white;
    margin: 0;
}
.shadowing{
    /*Skapar en halvt genomskinnlig mörk bakgrund*/
    background: rgba(0, 0, 0, 1);
    border-radius: 5px;
}
.container{
    margin-top:20px;
    /*Skapar en halvt genomskinnlig mörk bakgrund*/
    background: rgba(25, 25, 25, .10);
    border-radius: 5px;
    /*padding: 20px;*/
    color: black;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.cvListSmall{
    margin-top: -5px;
    list-style-type: none;
    font-style: italic;
    font-size: 12px;
}

.cvListBig{
    margin-top: 5px;
    font-weight: bold;
}

/*Header*/
.headerBackground {
    background: url("../img/headerBackground.jpg") no-repeat;
    background-size: 100% 100%;
    min-height: 600px;
    /*max-width: 100%;*/
    /*max-height: 100%;*/
}
.jumbotron{
    background: rgba(0, 0, 0, .0);
    color: white;
}
.jumbotron h1{
    text-align: center;
}
/*footer*/
.footer{
    margin-bottom: 20px;
}
.projectImg img{
    background-size: contain;
    width: 150px;
    height: 150px;
}
/*projects*/
.projectImg img:hover {
    /*transform: translateX(-5%);*/
    /*transform: translateY(-5%);*/
    width: 130px;
    height: 130px;
    cursor: pointer;
    
    background-size: 100% 100%
}

/*Navbar-top*/
.navbar {
    
    font-size:14px;
    width:100%;
    color:white;
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
}
.navbar a{
    color:white;
}
.navbar-nav>li>a{
    margin-top: 40px;
    z-index: 1;
    padding: 20px;
}
.navbar-default .navbar-nav>li>a {
    color:white;
}
.navbar-default .navbar-nav>li>a:hover {
    color:red;
}
.navbar-right{
    margin:0px;
    z-index: 1;
}
.collapse.in{
    position: relative;
}

.navbar-collapse{
    border: none;
    box-shadow: none;
} 
.navbar-collapse ul,li{
    float: left;
    margin: 0px;
    margin-top: -20px;
}

.container-fluid>.navbar-header{
    margin-right: 0px;
    margin-left: 0px;
}



/*Skapar en breakpoint för navbaren vid 1000px*/
@media (max-width: 1000px) {
    /*.navbar-header {
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    /*.navbar-collapse.collapse {
        display: none!important;
    }*/
    /*.navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }*/
    .navbar-nav>li {
        float: none;
    }/*
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0px;
    }
    /* since 3.1.0 */
    /*.navbar-collapse.collapse.in { 
        display: block!important;
    }*/

    /*.collapse.in{
        position: fixed;
    }*/
    /*.collapsing {
        overflow: hidden!important;
    }
    .shadowing{
        padding-right: 0px;
    }*/
    /*.navbar-right{
        max-width: 160px;
    }*/
    .container-fluid>.navbar-collapse{
        margin-left: 0px;
        margin-right: 0px;
        display: relative;
    }

    .cvListBigMinimize{
        font-size: 12px;
    }



}